body {
    background-color: rgb(153, 0, 0);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container .title {
    font-size: 80px;
    padding-bottom: 100px;
    padding-top: 30px;
}


/* Enzo calculator */

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(62, 73, 218, 0.623);

}


/* Result Area */

.result-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --shadow-color: hsl(220deg 100% 50%);
    width: 367px;
    height: 50px;
    background-color: rgba(35, 129, 32, 0.466);
    padding: 20px;
}





/* Buttons Area */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(62, 73, 218, 0.623);
}

.buttons .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.buttons .button button {
    padding: 35px;
    font-size: 20px;

}


.buttons .button-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}